<!DOCTYPE html>
<html lang="ru" ng-app="crudApp">
<head>
    <title>Administrator panel</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- add bootstrap css file -->

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">

</head>
<body>

<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Администрирование</h4>
            </div>
            <div class="modal-body">
                Вход
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                    </div>
                    <!--<button class="btn btn-default" onclick="authorisation()">Submit</button>-->
                    <input class="btn btn-default" type="button" value="Войти" onclick="authorisation()">
                </form>
            </div>
            <!--<div class="modal-footer">-->

            <!--</div>-->
        </div>
    </div>
</div>
<!-- navbar -->


<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="index-1.html">Клиентская страница</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">

            <!--<li class="nav-item">-->
            <!--<a class="nav-link" data-value="about" href="#">About</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link " data-value="portfolio" href="#">Статискика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="blog" href="#">Клиенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="team" href="#">Комнаты</a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link " data-value="contact" href="#">Contact</a>-->
            <!--</li>-->
        </ul>

    </div>
</nav>
<!-- header -->
<header class="header ">
    <div class="overlay"></div>
    <div class="container">
        <div class="description ">
            <h1>
                Страница администрирования<br>Гостиничного комплекса
            </h1>
        </div>
    </div>

</header>

<!--Waiting for calling-->
<div class="blog" id="call" ng-controller="ClientController">
    <div class="container">
        <h1 class="text-center">Перезвоните этим клиентам!</h1>
        <div class="table-responsive col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Сообщение</th>
                    <th></th>
                </tr>
                <tr ng-repeat="clients in clientss">
                    <td>{{clients.id}}</td>
                    <td>{{clients.roomAmount}}</td>
                    <td>
                        <button type="button" class="btn btn-default"
                                ng-click="updateClientsPhone(clients)">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true">Звонок сделан</span>
                        </button>
                        <!--<button type="button" class="btn btn-default"-->
                        <!--ng-click="updateClientsInit(clients)">-->
                        <!--<span class="glyphicon glyphicon-edit" aria-hidden="true">upd</span>-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-default"-->
                        <!--ng-click="deleteClients(clients)">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"-->
                        <!--aria-hidden="true">del</span>-->
                        <!--</button>-->
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="portfolio" id="portfolio">
    <h1 class="text-center">Статистика</h1>
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h4>Гости</h4>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chLine" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h4>Еще гости</h4>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="form-group">
                    <div class="input-group date" id="dateStatFrom">
                        <input type="text" class="form-control" id="inputStartDate"/>
                        <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="form-group">
                    <div class="input-group date" id="dateStatTo">
                        <input type="text" class="form-control" id="inputEndDate"/>
                        <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-secondary btn-lg" id="statsBtn">Показать</button>
    </div>
</div>


<!-- Posts section -->
<div class="blog" id="blog">
    <div class="container">
        <h1 class="text-center">Клиенты</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-100" data-form-type="formoid">
                    <div class="row row-sm-offset">
                        <form class="mbr-form form-active" action="#" method="post" data-form-title="Mobirise Form">
                            <div class="col-lg-80 col-md-80 col-sm-120 right">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="ФИО" name=""
                                           id="clientName">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg"
                                           placeholder="Email@email.com"
                                           name="email" id="clientEmail">
                                </div>
                                <input type="submit" class="btn btn-secondary btn-block" value="Найти" name=""
                                       id="btnFindClients">
                            </div>
                            </span>
                        </form>
                        <div class="col-lg-3 col-md-3 col-sm-12 item">
                            <img src="images/team-3.jpg" class="img-fluid" alt="team">
                            <div class="des" id="clientFindName">
                                Клиент
                            </div>
                            <span class="text-muted" id="clientFindInf">Информация</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 item" id="formFind" style="display: none">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Количнство посещений</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelect1">Скидка</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>Скидка не предоставляется</option>
                                        <option>Скидка 5%</option>
                                        <option>Скидкаа 10%</option>
                                        <option>VIP Клиент (персональные условия)</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea">Дополнительная информация</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                </div>
                                <fieldset class="form-group">
                                    <legend>Сервисы</legend>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios"
                                                   id="optionsRadios1" value="option1" checked>
                                            Страндартный набор серсисов
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios"
                                                   id="optionsRadios2" value="option2">
                                            Расширенный набор сервисов
                                        </label>
                                    </div>
                                </fieldset>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        Отправить в черный список
                                    </label>
                                </div>
                                <input type="submit" class="btn btn-secondary btn-block" value="Сохранить" name=""
                                       id="btnSendClient">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team section -->
<div class="team" id="team">
    <div class="container">
        <h1 class="text-center">Комнаты</h1>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Комнаты</a></li>
                <li><a href="#tabs-2">Подписки</a></li>
                <li><a href="#tabs-3">3</a></li>
            </ul>
            <div id="tabs-1">
                <div ng-controller="GeneralController">
                    <div class="panel panel-default">
                        <div class="panel-heading">HotelRoomss</div>
                        <div class="panel-body">
                            <form class="col-md-6" ng-submit="saveHotelRooms()">
                                <div class="form-group">
                                    <label for="hotelRoomsId">id</label> <input type="text"
                                                                                ng-model="hotelRooms.id"
                                                                                class="form-control" id="hotelRoomsId"
                                                                                placeholder="id">
                                </div>
                                <!--<div class="form-group">-->
                                <!--<label for="hotelRoomsStatus">status</label> <input type="text"-->
                                <!--ng-model="hotelRooms.status" class="form-control"-->
                                <!--id="hotelRoomsStatus"-->
                                <!--placeholder="status">-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label for="hotelRoomsAmount">roomAmount</label>
                                    <input type="text"
                                           ng-model="hotelRooms.roomAmount" class="form-control"
                                           id="hotelRoomsAmount" placeholder="roomAmount">
                                </div>

                                <div class="form-group">
                                    <label for="hotelRoomsId_type">id_type</label>
                                    <input type="text"
                                           ng-model="hotelRooms.hotelRoomType.id" class="form-control"
                                           id="hotelRoomsId_type" placeholder="id_type">
                                </div>

                                <!--<div class="form-group">-->
                                <!--<label for="hotelRoomsId_client">id_client</label>-->
                                <!--<input type="text"-->
                                <!--ng-model="hotelRooms.id_client" class="form-control"-->
                                <!--id="hotelRoomsId_client" placeholder="id_client">-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label for="hotelRoomsPrice">price</label>
                                    <input type="text"
                                           ng-model="hotelRooms.price" class="form-control"
                                           id="hotelRoomsPrice" placeholder="price">
                                </div>

                                <div class="form-group">
                                    <label for="hotelRoomsFrom">dateFrom</label>
                                    <input type="text"
                                           ng-model="hotelRooms.dateFrom" class="form-control"
                                           id="hotelRoomsFrom" placeholder="dateFrom">
                                </div>
                                <div class="form-group">
                                    <label for="hotelRoomsTo">dateTo</label>
                                    <input type="text"
                                           ng-model="hotelRooms.dateTo" class="form-control"
                                           id="hotelRoomsTo" placeholder="dateTo">
                                </div>

                                <button type="submit" class="btn btn-default">{{buttonText}}</button>

                            </form>

                            <div class="table-responsive col-md-12">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Id</th>
                                        <th>roomAmount</th>
                                        <th>id_type</th>
                                        <th>id_price</th>
                                        <th>dateFrom</th>
                                        <th>dateTo</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="hotelRooms in hotelRoomss">
                                        <td>{{hotelRooms.id}}</td>
                                        <td>{{hotelRooms.roomAmount}}</td>
                                        <td>{{hotelRooms.hotelRoomType.id}}</td>
                                        <td>{{hotelRooms.price}}</td>
                                        <td>{{hotelRooms.dateFrom}}</td>
                                        <td>{{hotelRooms.dateTo}}</td>
                                        <td>
                                            <button type="button" class="btn btn-default"
                                                    ng-click="updateHotelRoomsInit(hotelRooms)">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true">upd</span>
                                            </button>
                                            <button type="button" class="btn btn-default"
                                                    ng-click="deleteHotelRooms(hotelRooms)">
								<span class="glyphicon glyphicon-remove-circle"
                                      aria-hidden="true">del</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <div ng-controller="SubscribeController">
                    <div class="panel panel-default">
                        <div class="panel-heading">Subscribes</div>
                        <div class="panel-body">
                            <form class="col-md-6" ng-submit="saveSubscribes()">
                                <div class="form-group">
                                    <label for="subscribeId">id</label> <input type="text"
                                                                               ng-model="subscribe.id"
                                                                               class="form-control" id="subscribeId"
                                                                               placeholder="id">
                                </div>
                                <div class="form-group">
                                    <label for="subscribeEmail">email</label> <input type="text"
                                                                                     ng-model="subscribe.email"
                                                                                     class="form-control"
                                                                                     id="subscribeEmail"
                                                                                     placeholder="email">
                                </div>

                                <div class="form-group">
                                    <label for="subscribeIsSub">isSub</label>
                                    <input type="text"
                                           ng-model="subscribe.isSub" class="form-control"
                                           id="subscribeIsSub" placeholder="isSub">
                                </div>

                                <button type="submit" class="btn btn-default">{{buttonText2}}</button>

                            </form>

                            <div class="table-responsive col-md-12">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Id</th>
                                        <th>email</th>
                                        <th>isSubscribe</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="subscribe in subscribes">
                                        <td>{{subscribe.id}}</td>
                                        <td>{{subscribe.email}}</td>
                                        <td>{{subscribe.is_sub}}</td>
                                        <td>
                                            <button type="button" class="btn btn-default"
                                                    ng-click="updateSubscribesInit(subscribe)">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true">upd</span>
                                            </button>
                                            <button type="button" class="btn btn-default"
                                                    ng-click="deleteSubscribes(subscribe)">
								<span class="glyphicon glyphicon-remove-circle"
                                      aria-hidden="true">del</span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-3">
                <p>3</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.js"></script>
<script type="text/javascript" src="js/ng/crud/app.js"></script>
<script type="text/javascript" src="js/ng/crud/controllers/general.controller.js"></script>
<script type="text/javascript" src="js/ng/crud/services/hotelrooms.service.js"></script>

<script type="text/javascript" src="js/ng/crud/controllers/subscribe.controller.js"></script>
<script type="text/javascript" src="js/ng/crud/services/subscribe.service.js"></script>

<script type="text/javascript" src="js/ng/crud/controllers/client.controller.js"></script>
<script type="text/javascript" src="js/ng/crud/services/client.service.js"></script>

<script type="text/javascript" src='js/adminPageJs/Chart.js'></script>
<script type="text/javascript" src="js/adminPageJs/jquery-ui.js"></script>
<script type="text/javascript" src='js/adminPageJs/main.js'></script>


</body>
</html>